---
import Layout from "@/layouts/Layout.astro";
import { getMode } from "@/lib/mode";
import { defaultNavLinks } from "@/lib/nav-links";

import zx81 from "../../assets/images/exhibits/early-home-computers/zx81.png";
import spectrum from "../../assets/images/exhibits/early-home-computers/spectrum.png";
import beebpc from "../../assets/images/exhibits/early-home-computers/bbc-micro.png";
import c64 from "../../assets/images/exhibits/early-home-computers/c64.png";
import vic20 from "../../assets/images/exhibits/early-home-computers/vic20.png";

const headerNavLinks =
  getMode() === "broken"
    ? defaultNavLinks.filter(({ name }) => name !== "Take a Tour")
    : defaultNavLinks;
---
<script>
	let devices = document.querySelector(".devices");

	devices.addEventListener("click", toggleReadMore, false);
	
	function toggleReadMore(e) {
		e.preventDefault();
		let elm = e.target;
		if(elm.tagName === "A" && elm.className === "read-more-link-button"){
			let moreTarget = elm.parentElement.querySelector(".more");
			moreTarget.removeAttribute("hidden");
			elm.textContent = "View Less";
		}
	}

</script>

<Layout title="Special PC event" {headerNavLinks}>
	<header>
		<h1>Early Home Computers Event!</h1>
	</header>

	<div class="about-the-event" role="region">
		<p class="h2">About The Event</p>
		<div class="more">
		more	
		</div>
		<div class="initial">
			<p>Role up, you GenXers, and re-live your childhood memories of tiny amounts of memory, three-channel (if you were lucky) sound, and loading games from a cassette.</p>
		</div>
		<div class="controls">
			<button type="button">View Less</button>
			<button type="button">Read More</button>
		</div>
	</div>

	<div class="devices">
		<div class="device">
			<img src={zx81.src} alt="A bird sitting on a nest of eggs.">
			<div class="more" hidden>
				<p>The unexpanded ZX81's tiny memory presents a major challenge to programmers. Simply displaying a full screen takes up to 793 bytes, the system variables take up another 125 bytes, and the program, input buffer and stacks need more memory on top of that. Nonetheless, ingenious programmers are able to achieve a surprising amount with just 1 KB. One example is the Super Micro Chess Engine by Stefano Maragò, which includes all of the rules of chess. The ZX81 conserves its memory to a certain extent by representing entire BASIC commands as one-byte tokens, stored as individual "characters" in the upper reaches of the machine's unique (non-ASCII) character set.</p>
				<div class="attribs"><small>Text from <a href="https://en.wikipedia.org/wiki/ZX81">Wikipedia's ZX81 page</a>. Image: Evan-Amos, CC BY-SA 3.0 <https://creativecommons.org/licenses/by-sa/3.0>, via Wikimedia Commons.
				</small></div>
			</div>
			<div class="initial">
				<h4>ZX81</h4>
				<p>The ZX81 is a home computer that was produced by Sinclair Research and manufactured in Dundee, Scotland, by Timex Corporation. It was launched in the United Kingdom in March 1981 as the successor to Sinclair's ZX80 and designed to be a low-cost introduction to home computing for the general public.</p>
			</div>
			<a class="read-more-link-button" href="#" role="button">Read More</a>
		</div>

		<div class="device">
			<img src={spectrum.src} alt="A bird sitting on a nest of eggs.">
			<div class="more" hidden>
				<p>The Spectrum played a pivotal role in the early history of personal computing and video gaming, leaving an enduring legacy that influenced generations. Its introduction led to a boom in companies producing software and hardware, the effects of which are still seen. It was among the first home computers aimed at a mainstream audience, with some crediting it as responsible for launching the British information technology industry.</p>
				<div class="attribs"><small>Text from <a href="https://en.wikipedia.org/wiki/ZX_Spectrum">Wikipedia's ZX Spectrum page</a>. Image: By Bill Bertram - Own work, CC BY-SA 2.5, https://commons.wikimedia.org/w/index.php?curid=170050.
				</small></div>
			</div>
			<div class="initial">
				<h4>ZX Spectrum</h3>
				<p>The ZX Spectrum (UK: /zɛd ɛks/) is an 8-bit home computer developed and marketed by Sinclair Research. Considered one of the most influential computers ever made, it is also one of the best-selling British computers ever, with over five million units sold. It was released in the United Kingdom on 23 April 1982, and around the world in the following years, most notably in Europe, the United States, and Eastern Bloc countries.</p>
			</div>
			<a class="read-more-link-button" href="#" role="button">Read More</a>
		</div>
		
		<div class="device">
			<img src={beebpc.src} alt="A bird sitting on a nest of eggs.">
			<div class="more" hidden>
				<p>The machine was released as the BBC Microcomputer on 1 December 1981, although production problems pushed delivery of the majority of the initial run into 1982. Nicknamed "the Beeb", it was popular in the UK, especially in the educational market; about 80% of British schools had a BBC microcomputer.</p>
				<div class="attribs"><small>Text from <a href="https://en.wikipedia.org/wiki/BBC_Micro">Wikipedia's BBC Micro page</a>. Image: By BBC_Micro.jpeg: Stuart Bradyderivative work: Ubcule (talk) - BBC_Micro.jpeg, Public Domain, https://commons.wikimedia.org/w/index.php?curid=11672213
				</small></div>
			</div>
			<div class="initial">
				<h4>BBC Microcomputer</h4>
				<p>The BBC Microcomputer System, or BBC Micro, is a series of microcomputers designed and built by Acorn Computers Limited in the 1980s for the Computer Literacy Project of the BBC.</p>
			</div>
			<a class="read-more-link-button" href="#" role="button">Read More</a>
		</div>

		<div class="device">
			<img src={vic20.src} alt="A bird sitting on a nest of eggs.">
			<div class="more" hidden>
				It was described as "one of the first anti-spectatorial, non-esoteric computers by design...no longer relegated to hobbyist/enthusiasts or those with money, the computer Commodore developed was the computer of the future."
				<div class="attribs"><small>Text from <a href="https://en.wikipedia.org/wiki/VIC-20">Wikipedia's VIC-20 page</a>. Image: By Evan-Amos - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=38582541.
				</small></div>
			</div>
			<div class="initial">
				<h4>Commodore VIC-20</h4>
				<p>The VIC-20 (known as the VC-20 in Germany and the VIC-1001 in Japan) is an 8-bit home computer that was sold by Commodore Business Machines. The VIC-20 was announced in 1980, roughly three years after Commodore's first personal computer, the PET. The VIC-20 was the first computer of any description to sell one million units, eventually reaching 2.5 million</p>
			</div>
			<a class="read-more-link-button" href="#" role="button">Read More</a>
		</div>

		<div class="device">
			<img src={c64.src} alt="A bird sitting on a nest of eggs.">
			<div class="more" hidden>
				<p>Volume production started in early 1982, marketing in August for US$595 (equivalent to $1,880 in 2023). Preceded by the VIC-20 and Commodore PET, the C64 took its name from its 64 kilobytes (65,536 bytes) of RAM. With support for multicolor sprites and a custom chip for waveform generation, the C64 could create superior visuals and audio compared to systems without such custom hardware.</p>
				<div class="attribs"><small>Text from <a href="https://en.wikipedia.org/wiki/Commodore_64">Wikipedia's Commodore 64 page</a>. Image: By Evan-Amos - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=17414881.
				</small></div>
			</div>
			<div class="initial">
				<h4>Commodore 64</h4>
				<p>The Commodore 64, also known as the C64, is an 8-bit home computer introduced in January 1982 by Commodore International (first shown at the Consumer Electronics Show, January 7–10, 1982, in Las Vegas). It has been listed in the Guinness World Records as the highest-selling single computer model of all time, with independent estimates placing the number sold between 12.5 and 17 million units.</p>
			</div>
			<a class="read-more-link-button" href="#" role="button">Read More</a>
		</div>

	</div>
</Layout>

<style is:global>

	:root{
		scrollbar-color: hsl(0,0%,20%) black;
	}

	body{
		color:white;
	}

	::-webkit-scrollbar-track {
  	background: black;
	}

	::-webkit-scrollbar-thumb {
  	background: hsl(0,0%,20%)
	}
	
	main.inset{
		background-color: black;
		max-width: unset;
	}

	header{
		container: hd1 / inline-size;
	}

	h1{
		color:var(--gold-vivid-200);
		font-size:clamp(calc(var(--ms14) * 1rem), 10cqi + 1rem, calc(var(--ms19) * 1rem));
		line-height: var(--ms1) !important;
		margin-block-start:0;
	}

	@container hd1 (290px <= width <= 570px) {
  	h1{
			font-size:calc(var(--ms10) * 1rem);
		}
}

.about-the-event{
	border:3px solid #fff;
}

.initial p::first-line{
	font-size:calc(var(--ms3) * 1rem);
}

.devices{
	display:grid;
	gap:1rem;
	grid-template-columns: repeat(3, 1fr);
}

.device{
	border:1px solid currentColor;
	color:#fff;
	display:flex;
	flex-direction: column;
	padding:calc(var(--ms1) * 1rem);
	text-align: justify;
	& a{
		color:currentColor;
		text-decoration-color: var(--red-warm-600);
	}
	& img {
		display:block;
		height:250px;
		margin:0 auto;
		max-width: 100%;
	}
	& *:focus-visible{
		box-shadow:0 0 0 2px white, 0 0 4px blue;
		outline:none;
	}
	& h4{
		background: white;
		color:black;
		margin:0.75em 0 0.3em;
		text-align: center;
		& + p{
			margin-block-start: 0;
		}
	}
	& .read-more-link-button{
		margin-block-start: auto;
	}
	& .attribs{
		border-block-start:1px solid var(--gold-400);
		border-block-end:1px solid var(--gold-400);
		font-size:calc(var(--ms-2) * 1rem);
		font-style: italic;
		padding:calc(var(--ms-6) * 1em) 0;
	}
}

</style>
